
div .content{
    border: #282c34;
    border-width: 12px;
    border-style: solid;
    
  }
  div .products{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 30%;
   
  }
  div .product{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  span{
    vertical-align: bottom;
    text-align: center;
    font-size: 37px;
    background-color:rgb(93, 190, 228);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }