.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    border: 1px solid rgba(95, 126, 145, 0.226);
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(50, 139, 199, 0.788);
    color: white;

  }
  div .cart-list{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
  }
  div .content{
    height: 100vh;
  }