.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
div .content{
  border: #282c34;
  border-width: 12px;
  border-style: solid;


  
}
div .products{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  width: 30%;
  margin-left: 2%;
 
}
div .product{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}
span{
  vertical-align: bottom;
  text-align: center;
  font-size: 37px;
  background-color:rgb(93, 190, 228);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
div .productDetails{
  border: black solid 2px;
  align-content:space-between;
  margin-right: 40%;
  margin-left:30%; 
  margin-bottom: 2%;
  width: 40%;

}
div .productDetails textarea{
  font-size: 23px;
  width: 45%;
  height:50%;
}